/* .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(6px); 
    background: rgba(0, 0, 0, 0.3);
    z-index: 999;
  }
  
  .modal-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 2rem;
    z-index: 1000;
    border-radius: 8px;
    min-width: 300px;
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 14px;
    border: none;
    background: transparent;
    font-size: 1.5rem;
    cursor: pointer;
  }
   */

   /* components/Modals/Modal.css */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 999;
  }
  
  .modal-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 2rem;
    border-radius: 8px;
    z-index: 1000;
    min-width: 300px;
    /* min-height: 400px; */

    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 3rem;
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 14px;
    border: none;
    background: transparent;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  
  